<h1><%= @pokemon.name %></h1>

<p><strong>Pokedex:</strong> <%= @pokemon.pokedex %></p>
<p><strong>Weight:</strong> <%= @pokemon.weight_kg %> kg</p>
<p><strong>HP:</strong> <%= @pokemon.hp %></p>
<p><strong>Attack:</strong> <%= @pokemon.attack %></p>
<p><strong>Defense:</strong> <%= @pokemon.defense %></p>
<p><strong>Special Attack:</strong> <%= @pokemon.sp_attack %></p>
<p><strong>Special Defense:</strong> <%= @pokemon.sp_defense %></p>
<p><strong>Speed:</strong> <%= @pokemon.speed %></p>
<p><strong>Generation:</strong> <%= @pokemon.generation&.g_name %></p>
<p><strong>Types:</strong> <%= @pokemon.types.map(&:name).join(', ') %></p>
<p><strong>Abilities:</strong> <%= @pokemon.abilities.map(&:name).join(', ') %></p>
