
<div class="container">
  <h1 class="title has-text-centered"><%= @pokemon.name.capitalize %></h1>

  <div class="columns is-centered">
    <div class="column is-half" style="display: flex; flex-direction: column; align-items: center">
      <figure class="image " style="width: 200px;">
        <img src="https://img.pokemondb.net/artwork/large/<%= @pokemon.name.downcase %>.jpg" alt="pokemon">
      </figure>
      <div class="box" style="min-width: 360px;">
        <table class="table is-striped is-hoverable is-fullwidth">

          <tbody>
            <tr>
              <td><strong>Pokedex:</strong></td>
              <td><%= @pokemon.pokedex %></td>
            </tr>
            <tr>
              <td><strong>Weight:</strong></td>
              <td><%= @pokemon.weight_kg %> kg</td>
            </tr>
            <tr>
              <td><strong>HP:</strong></td>
              <td><%= @pokemon.hp %></td>
            </tr>
            <tr>
              <td><strong>Attack:</strong></td>
              <td><%= @pokemon.attack %></td>
            </tr>
            <tr>
              <td><strong>Defense:</strong></td>
              <td><%= @pokemon.defense %></td>
            </tr>
            <tr>
              <td><strong>Special Attack:</strong></td>
              <td><%= @pokemon.sp_attack %></td>
            </tr>
            <tr>
              <td><strong>Special Defense:</strong></td>
              <td><%= @pokemon.sp_defense %></td>
            </tr>
            <tr>
              <td><strong>Speed:</strong></td>
              <td><%= @pokemon.speed %></td>
            </tr>
            <tr>
              <td><strong>Generation:</strong></td>
              <td><%= @pokemon.generation&.g_name %></td>
            </tr>
            <tr>
              <td><strong>Types:</strong></td>
              <td><%= @pokemon.types.map(&:name).join(', ').capitalize %></td>
            </tr>
            <tr>
              <td><strong>Abilities:</strong></td>
              <td><%= @pokemon.abilities.map(&:name).join(', ').capitalize %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="has-text-centered">
    <a class="button is-danger" href="<%= pokemons_path %>">Back to Pokedex</a>
  </div>
</div>
<br>